@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

html,body {
	background-color: #eee;
	margin:0;
	padding:0;
	width: 100%;
	height: 100%;
}

canvas {
	display: block;
}

.debug .closed {
	display: none;
}
.debug .people {
	@include clearfix;
}
.debug .person {
	
	@include clearfix;
}
.debug .person * {
	display: inline-block;
	float: left;
	margin-right: 5px;
}
.debugToggle {
	position: fixed;
	right: 0;
	top: 0;
	background: rgba(255,255,255,0.8);
	cursor: pointer;
}