$fontColor: #eee;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@import 'fira/fira';
@import 'dat.gui.custom';

html,body {
	background-color: #000;
	margin:0;
	padding:0;
	width: 100%;
	height: 100%;
	font-family: 'Fira Sans', sans-serif;
	color: $fontColor;
}

canvas {
	display: block;
}

.dreamViz {
	-webkit-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
}
.dreamViz img {

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000;

}


.debug {
	position: absolute;
	z-index: 12;
	background: black;
	width: 100%;
}
.debug .closed {
	display: none;
}
.debug .people {
	@include clearfix;
}
.debug .person {
	
	@include clearfix;
}
.debug .person * {
	display: inline-block;
	float: left;
	margin-right: 5px;
}
.debugToggle {
	position: fixed;
	right: 0;
	top: 0;
	background: rgba(255,255,255,0.8);
	cursor: pointer;
	z-index: 10;
}

.tweetText {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.6);
}
.tweetText a {
	color: $fontColor;
}

.controls {
	border-bottom: 1px solid white;
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	width: 100%;
	z-index: 8;
	height: 40px;
}